<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Neighbor.ly Dashboard</title>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic' %>
    <%= stylesheet_link_tag 'neighborly-dashboard-application' %>
  </head>
  <body class='fixed'>
    <%= javascript_include_tag 'fix_bind_phantomjs' if Rails.env.test? %>
    <%= javascript_include_tag 'neighborly-dashboard-libs' %>
    <%= javascript_include_tag 'neighborly-dashboard-application' %>
    <%= javascript_include_tag 'neighborly-dashboard-templates' %>
  </body>
</html>
